body {
  width: 100%;
  height: 100vh;
  min-width: 750px;
  min-height: 700px;
  background-color: #F7F8FE;
  font-family: 'Merriweather', serif;
  position: relative;
  margin: 0;
  padding: 0;
}
h1 {
  color: #FF6539;
  text-align: center;
  font-size: 65px;
  margin: 0;
  padding: 40px;
}
.logo {
  width: 80px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  padding: 20px;
  background-color: transparent;
}
.green {
  color: #28E8BE;
}
.lime {
  color: #9DFF4A;
}
.orange {
  color: #FF6539;
}
header {
  width: 100%;
  height: 200px;
  background-image: linear-gradient(to top right,#F7F8FE, #9fabff);
}
.animation-container {
  width: 100%;
  height: 100vh;
  background-color: #F7F8FE;
  position: relative;
  overflow: hidden;
}
.content {
  width: 500px;
  height: 500px;
  background-color: rgb(247, 248, 254, .9);
  border: 2px solid #00128A;
  border-radius: 5px;
  -webkit-box-shadow: 2px 3px 23px 4px rgba(0,18,138,0.3);
  -moz-box-shadow: 2px 3px 23px 4px rgba(0,18,138,0.3);
  box-shadow: 2px 3px 23px 4px rgba(0,18,138,0.3);
  text-align: center;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 2;
  overflow-y: auto;
  overflow-x: hidden;
}
.content button {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  color: #F7F8FE;
  background-color: #00128A;
  border: 2px solid #00128A;
  border-radius: 5px;
  cursor: pointer;
  z-index: 3;
  transition: ease .4s;
}
.content button:hover {
  color: #00128A;
  border: 2px solid #00128A;
  background-color: #F7F8FE;
}
.content p {
  font-size: 23px;
  color: #00128A;
  font-weight: 600;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
footer .social {
  font-size: 0;
  padding: 0;
}
footer .social li {
  padding: 10px 5px;
  display: inline-block;
}
.social a svg {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  fill: #999;
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
}
.social a svg:hover {
  fill: #00128A;
}
.copyright p,
.copyright a {
  font-family: sans-serif;
  color: #999;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
}
.copyright a:hover {
  color: #00128A;
}
.animation {
  position: absolute;
  top: 80vh;
  left: 45vw;
  width: 150px;
  height: 40px;
  transform-origin: top left;
}
.animation1 {
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: animation1 24s ease-in forwards infinite;
}
.animation2 {
  transform: scale(0) translate(-50%, -50%);
  animation: animation2 20s ease-in forwards infinite;
}
.animation3 {
  transform: scale(0) rotate(0deg) translate(-50%, -50%);
  animation: animation3 17s ease-in forwards infinite;
}
.animation:nth-child(2) {
  animation-delay: 2s;
  top: 40vh;
  left: 105vw;
}
.animation:nth-child(3) {
  animation-delay: 4s;
  top: 60vh;
  left: 90vw;
}
.animation:nth-child(4) {
  top: 80vh;
  left: 70vw;
}
.animation:nth-child(5) {
  animation-delay: 4s;
  top: 70vh;
  left: 80vw;
}
.animation:nth-child(6) {
  animation-delay: 15s;
  top: 70vh;
  left: 65vw;
}
.animation:nth-child(7) {
  animation-delay: 10s;
  top: 30vh;
  left: 35vw;
}
.animation:nth-child(8) {
  top: 90vh;
  left: 100vw;
}
.animation:nth-child(9) {
  animation-delay: 3s;
  top: 20vh;
  left: 30vw;
}
.animation:nth-child(10) {
  animation-delay: 4s;
  top: 10vh;
  left: 90vw;
}
.animation:nth-child(11) {
  animation-delay: 2s;
  top: 60vh;
  left: 60vw;
}

@keyframes animation1 {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(-60deg) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes animation2 {
  from {
    transform: scale(0) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) translate(-50%, -50%);
    opacity: 0;
  }
}

@keyframes animation3 {
  from {
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    opacity: 1;
  }
  to {
    transform: scale(20) rotate(60deg) translate(-50%, -50%);
    opacity: 0;
  }
}